*{
    margin: 0;
    padding: 0;

}body{
    background-color: black;
}

.notfound404{
    display:flex; 
    height: 100vh;
    color: whitesmoke;
    font-size: 10vw;
    place-items: center;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

  @keyframes text-focus-in {
    0% {
      
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      
      filter: blur(0px);
      opacity: 1;
    }
  }

